main {
    flex: 1 0 auto;
    background-color: #b0bec5;
	}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 5% 0 5%;
  }

  .spacer {
  	height: 50px;
  	background-color: white;

  }


.userPhoto {
  margin-top: 7px;
}

.inline {
  float: left;
}

.nameBtn {
  margin-top: 6%;
  margin-left: 6%;
}

.userBtnRow {
  margin-bottom: 0;
}

.btnUserName {
  margin-top: 21px;
}

.badge {
  margin-top: 21px
}

#currentUsers {
	background-color: black;
}

h1 {
	color: pink;
}

#chart {
  margin-left: 5%;
}

p {
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  font-size: 20px;
  color: white;
}