.userPhoto {
  height: 50px;
  margin-top: 7px;
}

.inline {
  float: left;
}

.nameBtn {
  margin-top: 6%;
  margin-left: 6%;
}

.userBtnRow {
  margin-bottom: 0;
}

.btnUserName {
  margin-top: 21px;
}

.badge {
  margin-top: 21px
}